@page
@model MSA.Presentation.Pages.Admin.BatchPages.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Batch[0].Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Batch[0].ExpOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Batch[0].Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Batch[0].Product)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Batch[0].CreatedOn)
            </th>
            <!--<th>
                @Html.DisplayNameFor(model => model.Batch[0].UpdatedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Batch[0].CreatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Batch[0].UpdatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Batch[0].IsDeleted)
            </th>-->
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Batch) {
            var index = Model.Batch.IndexOf(item);
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                    @Model.ProductName[index]
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedOn)
            </td>
            <!--<td>
                @Html.DisplayFor(modelItem => item.UpdatedOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedBy)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsDeleted)
                </td>-->
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
        }

    </tbody>
</table>
<p>
    <a asp-page="./Create" asp-route-id="@Model.ProductId">Create New</a>
</p>
