@page
@using MSA.Domain.Enums
@model MSA.Presentation.Pages.OrderPages.IndexModel

@{
    ViewData["Title"] = "Index";
}
<h1>----------------------------------------------------</h1>
<h1>Manage Order</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ListOrder[0].TotalPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListOrder[0].TotalQuantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListOrder[0].OrderStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListOrder[0].OrderRefundStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListOrder[0].Customer)
            </th>
            <th>
                Customer Address
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListOrder[0].CreatedOn)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ListOrder) {
            var index = Model.ListOrder.IndexOf(item);
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalQuantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderRefundStatus)
            </td>
            <td>
                    @Model.AccountName[index]
            </td>
            <td>
                    @Model.Address[index]
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedOn)
            </td>

            <td>
                    @if (item.OrderStatus == OrderStatus.Pending || item.OrderStatus == OrderStatus.Processing)
                    {
                        <a asp-page="/StaffPage/OrderPages/ChangStatus" asp-route-id="@item.Id">Change Status</a>
                        
                        <a asp-page = "/StaffPage/OrderPages/Cancel"  asp-route-id = "@item.Id" > Cancel Order </a>
                    }
                    <a asp-page="/StaffPage/OrderPages/Delete" asp-route-id="@item.Id"> Delete </a>
            </td>
        </tr>
}
    </tbody>
</table>
<nav aria-label="Page navigation">
    <ul class="pagination">
        @for (var i = 1; i <= Model.TotalPages; i++)
        {
            <li class="page-item @(Model.CurrentPage == i ? "active" : "")">
                <a class="page-link" asp-page-handler="OnGet" asp-route-currentPage="@i">@i</a>
            </li>
        }
    </ul>
</nav>
<p>
    <a asp-page="/StaffPage/Index" class="btn btn-success">Return To Home Page</a>
</p>