@page
@model MSA.Presentation.Pages.CategoryPages.IndexModel

@{
    ViewData["Title"] = "Index";
}
<h1>----------------------------------------------------</h1>
<h1>Manage Categories</h1>
<form method="get">
    <div class="form-group">
        <input type="text" name="SearchString" value="@Model.SearchString" class="form-control" placeholder="Search by name...">
        <button type="submit" class="btn btn-primary">Search</button>
    </div>
</form>
<a asp-page="Create" class="btn btn-success">Create New</a>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Category[0].CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category[0].CreatedOn)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Category) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedOn)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<p>

    <a asp-page="/StaffPage/Index" class="btn btn-success">Return To Home Page</a>
</p>