@page
@model MSA.Presentation.Pages.ProductPages.IndexModel

@{
    ViewData["Title"] = "Index";
}
<h1>----------------------------------------------------</h1>
<h1>Manage Product</h1>
<form method="get">
    <div class="form-group">
        <input type="text" name="SearchString" value="@Model.SearchString" class="form-control" placeholder="Search by name...">
        <button type="submit" class="btn btn-primary">Search</button>
    </div>
</form>
<a asp-page="Create" class="btn btn-success">Create New</a>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].Price)
            </th>
            <th>
                Quantity
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].ImageUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].Category)
            </th>
            <!--<th>
                @Html.DisplayNameFor(model => model.Product[0].CreatedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].UpdatedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].CreatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].UpdatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].IsDeleted)
            </th>-->
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Product) {
            var index = Model.Product.IndexOf(item);
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                    @Model.Quantity[index]
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <img width="150" height="150" src="/@item.ImageUrl" alt="">
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
                <td>
                    @Model.CategoryName[index]
                </td>
            <!--<td>
                @Html.DisplayFor(modelItem => item.CreatedOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedBy)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsDeleted)
                    </td>-->
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a> 
            </td>
        </tr>
}
    </tbody>
</table>
<p>   
    <a asp-page="/StaffPage/Index" class="btn btn-success">Return To Home Page</a>
</p>

