@page
@model MSA.Presentation.Pages.GuestPages.ProductPageModel
@{
}
<!DOCTYPE html>
<html lang="en">

<head>

</head>

<body>

    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <!-- ***** Preloader End ***** -->
    <!-- ***** Main Banner Area Start ***** -->
    <div class="main-banner" id="top">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="inner-content">
                        <h2>MSA Shop</h2>
                        <span>Sản phẩm luôn đảm bảo chất lượng. 100% hàng chính hãng</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Main Banner Area End ***** -->
    <!-- ***** Products Area Starts ***** -->
    <section class="section" id="products">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-heading">
                        <h2>Các sản phẩm hiện có</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                @foreach (var product in Model.ProductViewModel)
                {
                    <div class="col-lg-4">
                        <div class="item">
                            <div class="thumb">
                                <div class="hover-content">
                                    <ul>
                                        <li><a href="@Url.Page("ProductDetail", new { id = product.ProductId })"><i class="fa fa-eye"></i></a></li>
                                        @if (product.Status == Domain.Enums.ProductStatus.InStock)
                                        {
                                            if (HttpContext.Session.GetString("CurrentUser") == null)
                                            {
                                                <li><a href="/LoginPage"><i class="fa fa-shopping-cart"></i></a></li>

                                            }
                                            else
                                            {
                                                <li><a href="?handler=cart&productId=@product.ProductId"><i class="fa fa-shopping-cart"></i></a></li>

                                            }

                                        }

                                    </ul>
                                </div>
                                <img src="/@product.ImageUrl" alt="">
                            </div>
                            <div class="down-content">
                                <h4>@product.ProductName</h4>
                                <span>$ @product.Price</span>
                                @if (product.Status == Domain.Enums.ProductStatus.InStock)
                                {
                                    <span>Chỉ còn: @product.Quantity</span>

                                }
                                else
                                {

                                    <span>Hết hàng</span>
                                }
                            </div>
                        </div>
                    </div>
                }

                <div class="col-lg-12">
                    <div class="pagination">
                        <ul>
                            @for (var i = 1; i <= Model.TotalPages; i++)
                            {
                                <li class="@(Model.CurrentPage == i ? "active" : "")">
                                    <a href="/GuestPages/ProductPage?categoryId=@Model.category&currentPage=@i">@i</a>
                                </li>
                            }
                            @if (Model.CurrentPage < Model.TotalPages)
                            {
                                <li>
                                    <a href="?currentPage=@(Model.CurrentPage + 1)">></a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Products Area Ends ***** -->

</body>

</html>
