@page
@model MSA.Presentation.Pages.GuestPages.ProductPageModel
@{
}
<!DOCTYPE html>
<html lang="en">

<head>

</head>

<body>

    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <!-- ***** Preloader End ***** -->

    <!-- ***** Main Banner Area Start ***** -->
    <div class="page-heading" id="top">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="inner-content">
                        <h2>Check Our Products</h2>
                        <span>Awesome &amp; Creative HTML CSS layout by TemplateMo</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Main Banner Area End ***** -->
    <!-- ***** Products Area Starts ***** -->
    <section class="section" id="products">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-heading">
                        <h2>Our Latest Products</h2>
                        <span>Cửa hàng</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                @foreach (var product in Model.ProductViewModel)
                {
                <div class="col-lg-4">                    
                        <div class="item">
                            <div class="thumb">
                                <div class="hover-content">
                                    <ul>
                                        <li><a href="@Url.Page("ProductDetail", new { id = product.ProductId })"><i class="fa fa-eye"></i></a></li>
                                        @if (HttpContext.Session.GetString("CurrentUser") == null)
                                        {
                                            <li><a href="/LoginPage"><i class="fa fa-shopping-cart"></i></a></li>
                                        }
                                        else
                                        {
                                            if(product.Status == Domain.Enums.ProductStatus.InStock)
                                            {
                                                <li><a href="?handler=cart&id=@product.ProductId"><i class="fa fa-shopping-cart"></i></a></li>
                                            }                                           
                                        }
                                    </ul>
                                </div>
                                <img src="/@product.ImageUrl" alt="">
                            </div>
                            <div class="down-content">
                                <h4>@product.ProductName</h4>
                                <span>$ @product.Status</span>
                                <span>$ @product.Price</span>
                                <span>Số lượng còn lại: @product.Quantity</span>
                            </div>
                        </div>
                </div>
                    }

                <div class="col-lg-12">
                    <div class="pagination">
                        <ul>
                            <li>
                                <a href="#">1</a>
                            </li>
                            <li class="active">
                                <a href="#">2</a>
                            </li>
                            <li>
                                <a href="#">3</a>
                            </li>
                            <li>
                                <a href="#">4</a>
                            </li>
                            <li>
                                <a href="#">></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Products Area Ends ***** -->

</body>

</html>
