@page
@model MSA.Presentation.Pages.GuestPages.ProductDetailModel
@{
}

<!DOCTYPE html>
<html lang="en">

<head>

</head>

<body>

    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <!-- ***** Preloader End ***** -->   
    <!-- ***** Main Banner Area Start ***** -->
    <div class="main-banner" id="top">
    </div>
    <!-- ***** Main Banner Area End ***** -->
    <!-- ***** Product Area Starts ***** -->
    <section class="section" id="product">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="left-images">
                        <img src="/@Model.ProductViewModel.ImageUrl" alt="">
                        @* <img src="assets/images/single-product-02.jpg" alt=""> *@
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="right-content">
                        <h4>@Model.ProductViewModel.ProductName</h4>
                        <span class="price">$ @Model.ProductViewModel.Price</span>
                        <span>@Model.ProductViewModel.Description</span>
                        @if (@Model.ProductViewModel.Status == Domain.Enums.ProductStatus.InStock)
                        {
                            <div class="quote">
                                <p>Chỉ còn: @Model.ProductViewModel.TotalQuantity</p>
                            </div>
                        }
                        else
                        {
                            <div class="quote">
                                <p>Hết hàng</p>
                            </div>
                        }
                        <form method="post" id="postForm" asp-page-handler="Cart">
                            <div class="quantity-content">
                                <div class="left-content">
                                    <h6>Số lượng mua</h6>
                                </div>
                                <div class="right-content">
                                    <div class="quantity buttons_added">
                                        <input asp-for="ProductViewModel.Quantity" type="number" value="1" min="1" title="Qty" class="input-text qty text form-control" size="4" pattern="" inputmode="">
                                        <span asp-validation-for="ProductViewModel.Quantity" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="total">
                                <h4>Giá sản phẩm: $ @Model.ProductViewModel.Price</h4>
                                @if (Model.ProductViewModel.Status == Domain.Enums.ProductStatus.InStock)
                                {
                                    if (HttpContext.Session.GetString("CurrentUser") == null)
                                    {
                                        <div class="main-border-button"><a href="/LoginPage">Thêm vào giỏ</a></div>
                                    }
                                    else
                                    {
                                        <input type="hidden" asp-for="ProductViewModel.ProductId" />

                                        @* <div class="main-border-button"><button type="submit">Thêm vào giỏ</button></div> *@
                                        <div class="main-border-button">
                                            <a onclick="submitPostForm()">Thêm vào giỏ</a>                                            
                                        </div>

                                    }
                                }
                            </div>
                        </form>


                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Product Area Ends ***** -->
    <script>
        function submitPostForm() {
            document.getElementById('postForm').submit();
        }
    </script>
</body>

</html>
