@page
@model MSA.Presentation.Pages.AccountPages.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Account</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.Username)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.Username)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.Password)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.Password)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.FullName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.ImageUrl)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.ImageUrl)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.Role)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.Role)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.CreatedOn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.CreatedOn)
        </dd>
</div>
<div>
    @if (Model.Account.Role == Domain.Enums.RoleType.Admin)
    {
        <a asp-page="./Edit" asp-route-id="@Model.Account.Id" class="btn btn-success">Edit</a>
        <a asp-page="./Index" class="btn btn-success">Back to List</a>
    }
    else
    {
        <a asp-page="/SelfUpdate" asp-route-id="@Model.Account.Id" class="btn btn-success">Edit</a>
        <a asp-page="/Index" asp-route-id="@Model.Account.Id"  class="btn btn-success">Back to Home Page</a>
    }

</div>
